<div class="container">
    <div class="mt-4">
        <app-custom-card header="Contatos">
            <div class="row">
                <div class="col-6">
                    <input type="text" #id class="form-control" [(ngModel)]="contactCodSearch" placeholder="Busca por nome..." />
                </div>

                <div class="col-6">
                    <a class="btn btn-primary" title="Adicionar" [routerLink]="['/contact/']">Adicionar Novo</a>
                </div>
            </div>

            <div class="mt-3">
                <table class="table table-responsive">
                    <caption #noResult hidden>
                        <div class="alert alert-secondary text-center" role="alert">Nenhum
                            resultado encontrado!</div>
                    </caption>

                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Endereço</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let c of (contacts | filterContact : contactCodSearch : noResultFn())">
                            <td>{{c.name}}</td>
                            <td>{{c.email}}</td>
                            <td>{{c.address}}</td>
                            <td>{{c.phones}}</td>
                            <td class="d-flex">
                                <a class="btn btn-primary" title="Editar" [routerLink]="['/contact/' + c.id]">
                                    <span class="fas fa-pencil-alt"></span>
                                </a>

                                <button class="btn btn-danger ml-2" title="Excluir" (click)="deleteContact(c.id)">
                                    <span class="fas fa-trash-alt"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </app-custom-card>
    </div>
</div>