$green: #39A7B0

#header
    color: white
    background-color: $green
    padding: 0.5rem
    padding-left: 1.25rem
    padding-right: 1.25rem

#body
    transition: 0.3s linear
    padding: 1.25rem !important

h2
    margin: 0 

@media (max-width: 1440px)
    #header h2
        font-size: 1.15em

@media (max-width: 1024px)
    #header h2
        font-size: 1em
