<div class="shadow">
  <div id="header" class="d-flex justify-content-between align-items-center">
    <span [innerHTML]="header"></span>
  </div>

  <div id="body" class="bg-white">
    <ng-content></ng-content>
  </div>
</div>