<div class="container">
    <div class="mt-4">
        <app-custom-card header="{{ contactId ? 'Editar contato' : 'Adicionar contato'}}">
            <form [formGroup]="contactForm">
                <div class="form-group">
                    <label for="inputName">Nome*</label>
                    <input formControlName="name" required type="text" class="form-control" id="inputName"
                        aria-describedby="nameHelp">
                    <small id="nameHelp" class="form-text text-muted">Este campo é de preencimento obrigatório.</small>
                </div>

                <div class="form-group">
                    <label for="inputEmail1">Email*</label>
                    <input formControlName="email" required type="email" class="form-control" id="inputEmail1"
                        aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">Este campo é de preencimento obrigatório.</small>
                </div>

                <div class="form-group">
                    <label for="inputAdress">Endereço</label>
                    <input formControlName="address" type="text" class="form-control" id="inputAdress">
                </div>

                <div class="form-group">
                    <label for="inputPhones">Telefone*</label>
                    <input formControlName="phones" required type="tel" class="form-control" id="inputPhones"
                        aria-describedby="phonesHelp">
                    <small id="phonesHelp" class="form-text text-muted">Este campo é de preencimento
                        obrigatório.</small>
                </div>

                <button type="submit" class="btn btn-primary" (click)="contactId ? update() : save()"
                    [disabled]="contactForm.invalid">Salvar</button>

                <button type="button" class="btn btn-danger ml-3" [routerLink]="['/home']">Cancelar</button>
            </form>
        </app-custom-card>
    </div>
</div>