.toast-container .toast
    background-color: white !important
    padding-top: 1rem !important
    color: black !important
    height: 10rem  !important
    background-position: 20px 20px  !important

button
    &:disabled
        cursor: no-drop
